{% extends "student_dash/base.html" %}

{% load static%}

{% block title %}
Teacher Dashboard
{% endblock %}

{% block extra_css%}

    <link rel="stylesheet" href="{% static 'css/teacher_dash/dashboard.css'%}">
{%endblock%}

{% block content%}
    <main class="main">
        <div class="heading">
            <h3 id="Htitle"></h3>
        </div>
    <div class="dashboard-container">
        
    <div class="card">
        
        <h3 class="title">Punching</h3>

        <p>Record teachers' check-in and check-out times quickly and accurately.</p>
        <button>Pucnh</button>
    </div>

    <div class="card">
        <h3 class="title">Student Marks</h3>
        <p>Update examination marks and maintain academic records.</p>
        <a href="{% url 'student_admit'%}"><button>marksheet</button></a>
    </div>

    <div class="card">
        <h3 class="title">Attendance</h3>
        <p>Track and manage daily student attendance with ease.</p>
        <button>Attendance</button>
    </div>
</div>

</main>


<script src=" {% static 'css/teacher_dash/dashboard.js'%}" ></script>

{%endblock%}