# Virtual Environment
venv/
env/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/

# Migrations (ঐচ্ছিক)
# */migrations/*
# !*/migrations/__init__.py